# Godot 4+ specific ignores
.godot/
/android/
RGPGame.exe
RGPGame.pck
RGPGame.console.exe
RPG_Game.exe
RPG_Game.pck
RPG_Game.console.exe
export_presets.cfg
art/characters/skeleton_swordless.png
art/characters/skeleton_swordless.png.import
art/characters/skeleton.png
art/characters/skeleton.png.import
art/objects/chest_02.png
art/objects/chest_02.png.import
art/objects/rock_in_water_01-sheet.png
art/objects/rock_in_water_01-sheet.png.import
art/objects/rock_in_water_01.png
art/objects/rock_in_water_01.png.import
art/objects/rock_in_water_02.png
art/objects/rock_in_water_02.png.import
art/objects/rock_in_water_03.png
art/objects/rock_in_water_03.png.import
art/objects/rock_in_water_04.png
art/objects/rock_in_water_04.png.import
art/objects/rock_in_water_05.png
art/objects/rock_in_water_05.png.import
art/objects/rock_in_water_06.png
art/objects/rock_in_water_06.png.import
art/objects/rock_in_water-sheet.png
art/objects/rock_in_water-sheet.png.import
art/tilesets/water_decorations.png
art/tilesets/water_decorations.png.import
art/tilesets/water_lillies.png
art/tilesets/water_lillies.png.import
art/tilesets/water-sheet.png
art/tilesets/water-sheet.png.import
art/tilesets/water1.png
art/tilesets/water1.png.import
art/tilesets/water2.png
art/tilesets/water2.png.import
art/tilesets/water3.png
art/tilesets/water3.png.import
art/tilesets/water4.png
art/tilesets/water4.png.import
art/tilesets/water5.png
art/tilesets/water5.png.import
art/tilesets/water6.png
art/tilesets/water6.png.import
art/tilesets/floors/carpet.png
art/tilesets/floors/carpet.png.import
art/tilesets/floors/flooring.png
art/tilesets/floors/flooring.png.import
RPG_Game.apple-touch-icon.png
RPG_Game.audio.position.worklet.js
RPG_Game.audio.worklet.js
RPG_Game.html
RPG_Game.icon.png
RPG_Game.js
RPG_Game.png
RPG_Game.wasm