# Godot 4+ specific ignores
.godot/
/android/
RGPGame.exe
RGPGame.pck
RGPGame.console.exe
RPG_Game.exe
RPG_Game.pck
RPG_Game.console.exe
export_presets.cfg
art/characters/skeleton_swordless.png
art/characters/skeleton_swordless.png.import
art/characters/skeleton.png
art/characters/skeleton.png.import